<a href="https://colab.research.google.com/github/gs3257/nyu-python-public-policy/blob/master/HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [4]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/311_Service_Requests_2018-19.csv', header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,17,20,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df['Created Date'].min()

'01/01/2019 01:00:00 PM'

In [8]:
df['Created Date'].max()

'12/31/2018 12:59:41 PM'

In [14]:
df.head()

   Unique Key  ...                                 Location
0    39888071  ...   (40.79333937834769, -73.9429417746998)
1    39889166  ...   (40.82012422332215, -73.9530712339799)
2    39882869  ...   (40.67080917938279, -73.9513990916184)
3    39894246  ...  (40.74026158873342, -73.99051651686905)
4    39881329  ...  (40.68814402968042, -73.75098958473612)

[5 rows x 41 columns]

In [15]:
df.tail()

         Unique Key  ...                                 Location
2859195    43619262  ...   (40.87970084316435, -73.9010571445122)
2859196    43622052  ...  (40.70178323733244, -73.92055493919345)
2859197    43625918  ...   (40.66999185896368, -73.9224889475533)
2859198    43622055  ...                                      NaN
2859199    43623704  ...  (40.63679359185655, -74.15397942810047)

[5 rows x 41 columns]

The min and max values of the Created Date column is showing dates in a strange manner - the year of the min value is greater (2019) than the max value (2018). It seems like these values were found by only searching through the first and last day of the year, not taking into account the number of the year. Using .head() and .tail() shows more accurate results, with the min value of 8-1-2018 and max value of 8-24-2019.

In the Data aggregation using pandas tutorial, I noticed that using .sum() lists the names of animals into a single string. Is there any way of finding out the sum of the animals in a numerical value? Would it also be possible to find out the number of animals in groups separated by type?